@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "acumin-pro-bold";
  src: url("/fonts/ACUMIN PRO BOLD.OTF") format("truetype");
}

@font-face {
  font-family: "acumin-pro-book";
  src: url("/fonts/ACUMIN PRO BOOK.OTF") format("truetype");
}

@font-face {
  font-family: "acumin-pro-medium";
  src: url("/fonts/ACUMIN PRO MEDIUM.OTF") format("truetype");
}

@font-face {
  font-family: "monbaiti";
  src: url("/fonts/MONBAITI.TTF") format("truetype");
}

@font-face {
  font-family: "Garamond";
  src: url("/fonts/Garamond-Regular.ttf") format("truetype");
}

.bouncing-img {
  -webkit-animation: moveX 7s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 7s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 7s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  animation: moveX 7s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 87.8dvw;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 87.8dvw;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 87.8dvw;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 87.8dvw;
  }
}

@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 66.7dvh;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 66.7dvh;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 66.7dvh;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 66.7dvh;
  }
}


/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d; 
}